html, body {
    height: 100%;
}

body {
    font-family: arial,tahoma,verdana,georgia;
    color: #7e7e7e;
}

a {
    color: lightslategray;
}

p {
    font-size: 12px;
    line-height: normal;
}

hr {
    color: #EFEFEF;
}

h1, h2, h3, h4, h5 {
    color: lightslategray;
}

h2 {
    font-size: 27px;
}

input:focus,
textarea:focus {
    border-color: skyblue ! important;
}

input {
    height: 20px;
    padding: 0;
}

input,
textarea {
    border: 1px solid #eee;
}

#main {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

div.line {
    border-top: 1px solid #eee;
    height: 1px;
    margin: 10px 0;
}

/* Buttons
----------------------------------------------------------------------------------------------------------------------*/

.btn {
    background-color: violet;
    border: medium none;
    color: #fff;
    cursor: pointer;
    height: 24px;
    margin-top: 5px;
    padding: 0 5px;
    vertical-align: bottom;
}

.btn:hover {
    background-color: lightslategray
}

.btn-info {
    background-color: mediumaquamarine;
}

.btn-success {
    background-color: mediumseagreen;
}

.btn-remove {
    background-color: lightpink;
}

.btn-clear {
    background-color: lightgrey;
}

.btn i {
    background: url("/img/glyphicons.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 16px;
    margin-right: 3px;
    width: 16px;
}

.btn i.ok {
    background-position: -287px 1px;
}

.btn i.add {
    background-position: -406px -96px;
}

.btn i.remove {
    background-position: -312px 1px;
}

.btn i.trash {
    background-position: -457px 1px;
}

/* Header
----------------------------------------------------------------------------------------------------------------------*/

header h1 {
    font-size: 30px;
    margin: 15px 0 0;
}

header h1 a {
    text-decoration: none;
}

a.various {
    display: block;
    margin-top: 5px;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav a {
    border-right: 1px solid #ddd;
    color: lightseagreen;
    font-size: 14px;
    margin-right: 10px;
    padding-right: 10px;
    text-decoration: none;
}

nav li:nth-last-child(1) a {
    border-right: 0 none;
    padding-right: 0;
}

/* Cart + Checkout
----------------------------------------------------------------------------------------------------------------------*/

#cart {
    width: 100%;
}

.cart {
    margin-top: 2px;
    text-align: right;
}

.cart > p {
    margin-top: 2px;
}

#cart th,
#checkout th {
    background-color: lightslategray;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 7px 0;
}

#cart td,
#checkout td {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    padding: 7px 10px;
    vertical-align: middle;
    white-space: nowrap;
}

#checkout td:last-child,
#cart td:last-child {
    border-right: medium none;
}

.checkout-form {
    text-align: center;
    width: 100%;
}

#checkout td:nth-child(1) {
    width: 120px;
}

.user-data-checkout {
    color: #666;
    font-size: 12px;
}

.user-data-checkout td {
    line-height: 20px;
    padding: 7px 0;
    vertical-align: top;
}

.user-data-checkout input,
.contact input[type="text"],
.contact input[type="email"],
.user-data-checkout textarea,
.contact textarea {
    padding: 5px;
    width: 250px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    margin-bottom: 7px;
}

.user-data-checkout textarea,
.contact textarea {
    height: 100px;
}

#checkout tr:last-child {
    background-color: mintcream;
}

/* Fancybox
----------------------------------------------------------------------------------------------------------------------*/

.fancybox-skin,
.fancybox-title-float-wrap .child {
    border-radius: 0;
}

.fancybox-inner {
    overflow: hidden ! important;
}

/* Sidebar
----------------------------------------------------------------------------------------------------------------------*/

#sidebar {
    padding: 10px;
}

#sidebar span {
    color: #666;
    display: block;
    margin-bottom: 10px;
}

#sidebar li {
    line-height: 25px;
}

#sidebar li a {
    text-decoration: none;
}

#sidebar li a:hover {
    text-decoration: underline;
}

/* Products
----------------------------------------------------------------------------------------------------------------------*/

.products article {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    float: left;
    height: 200px;
    padding: 10px;
    position: relative;
    width: 212px;
}

.products article:nth-child(3n) {
    border-right: medium none;
}

.products img {
    max-height: 130px;
    max-width: 200px;
}

.cart-img {
    display: block;
    max-height: 100px;
    max-width: 100px;
}

.products h1 {
    margin-bottom: 10px;
}

.info {
    bottom: 10px;
    color: #666;
    font-size: 12px;
    left: 10px;
    position: absolute;
}

.info small {
    color: dodgerblue;
}

.info-order {
    display: inline;
}

/* Product
----------------------------------------------------------------------------------------------------------------------*/

.product td.description {
    border-left: 1px solid #eee;
    padding: 0 10px;
    vertical-align: top !important;
}

.gallery .first img {
    max-height: 250px;
    max-width: 250px;
}

.gallery .thumb {
    display: inline-table;
}

.gallery .thumb img {
    max-height: 55px;
    max-width: 55px;
}

/* Action
----------------------------------------------------------------------------------------------------------------------*/

article .action,
article .p-action {
    background: url("/img/sale.png") no-repeat scroll 0 0 transparent;
    height: 21px;
    width: 50px;
    position: absolute;
}

article .action {
    top: 36px;
    left: 10px;
}

article .p-action {
    left: 3px;
    top: 52px;
}

/* Posts
----------------------------------------------------------------------------------------------------------------------*/

.posts article {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding: 0 15px 15px;
}

.posts article:last-child {
    margin-bottom: 0
}

.posts article h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.posts article h1 a {
    text-decoration: none;
}

.posts article h1 a:hover {
    text-decoration: underline;
}

.posts article p,
.page p,
.product td.description p {
    font-size: 12px;
    line-height: 20px;
}

.post-info {
    margin-top: 5px;
}

.post-info li {
    color: dimgrey;
    display: inline-block;
    font-size: 12px;
}

.post-info span {
    color: dodgerblue;
}

/* Pagination
----------------------------------------------------------------------------------------------------------------------*/

#pagination {
    clear: both;
    font-size: 12px;
    text-align: center;
}

#pagination a, #pagination strong {
    line-height: 33px;
    padding: 2px 10px;
    text-decoration: none;
}

#pagination a, #pagination strong {
    color: dodgerblue;
}

#pagination strong {
    color: dimgrey;
}

#pagination a:hover {
    text-decoration: underline;
}

/* Footer
----------------------------------------------------------------------------------------------------------------------*/

footer p {
    margin-bottom: 10px;
}